{% extends 'accounts/main.html'%} {% block content %} {% include 'accounts/status.html' %}

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Product</th>
                    <th>Note</th>
                    <th>Date Order</th>
                    <th>Status</th>
                </tr>

                {% for order in orders%}
                <tr>
                    <td>{{order.products}}</td>
                    <td>{{order.note}}</td>
                    <td>{{order.date_created}}</td>
                    <td>{{order.status}}</td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Mã sổ</th>
                    <th>Loại tiết kiệm</th>
                    <th>Tên</th>
                    <th>Ngày tạo</th>
                    <th>Địa chỉ</th>
                    <th>Số dư</th>
                </tr>

                {% for bankbook in bankbooks%}
                <tr>
                    <td>{{bankbook.bookid}}</td>
                    <td>{{bankbook.type}}</td>
                    <td>{{bankbook.customer_name}}</td>
                    <td>{{bankbook.date_created}}</td>
                    <td>{{bankbook.customer_address}}</td>
                    <td>{{bankbook.balance}}</td>
                </tr>
                {% endfor %}


            </table>
        </div>
    </div>
</div>

{% endblock content %}